<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title"> form </div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">full name<span>
                    <input type="text " placeholder="ENTER YOUR NAME" required>
                </div>
                <div class="input-box">
                    <span class="details">description<span>
                    <input type="text " placeholder="type description" required>
                </div>
                <div class="input-box">
                    <span class="details">date<span>
                    <input type="text " placeholder="ENTER date" required>
                </div>
                <div class="input-box">
                    <span class="details">time<span>
                    <input type="text " placeholder="ENTER time" required>
                </div>
                <div class="input-box">
                    <span class="details">Email<span>
                    <input type="text " placeholder="ENTER YOUR Email" required>
                </div>
            </div>

            

        </form>

    </div>
</body>
</html>